In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
df[df['sex'] == 'Female']["age"].count()

10771

In [14]:
df[df['sex'] == 'Female']["age"].mean()

36.85823043357163

In [23]:
df[df['native-country'] == 'Germany'].count()

age               137
workclass         137
fnlwgt            137
education         137
education-num     137
marital-status    137
occupation        137
relationship      137
race              137
sex               137
capital-gain      137
capital-loss      137
hours-per-week    137
native-country    137
salary            137
dtype: int64

In [24]:
df.count()

age               32561
workclass         32561
fnlwgt            32561
education         32561
education-num     32561
marital-status    32561
occupation        32561
relationship      32561
race              32561
sex               32561
capital-gain      32561
capital-loss      32561
hours-per-week    32561
native-country    32561
salary            32561
dtype: int64

In [26]:
100*137/32561

0.42074874850281013

In [36]:
df[df['salary'] == '>50K']['age'].mean()

44.24984058155847

In [37]:
df[df['salary'] == '>50K']['age'].std()

10.519027719851826

In [38]:
df[df['salary'] == '<=50K']['age'].mean()

36.78373786407767

In [39]:
df[df['salary'] == '<=50K']['age'].std()

14.02008849082488

In [40]:
df[df['salary'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [41]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [42]:
df[df['race'] == 'Amer-Indian-Eskimo']['age'].max()

82

In [43]:
df['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [55]:
df[(df['marital-status'] == 'Married-civ-spouse') | (df['marital-status'] == 'Married-spouse-absent') | (df['marital-status'] == 'Married-AF-spouse')]['marital-status'].count()

15417

In [56]:
df[(df['marital-status'] != 'Married-civ-spouse') & (df['marital-status'] != 'Married-spouse-absent') & (df['marital-status'] != 'Married-AF-spouse')]['marital-status'].count()

17144

In [63]:
df[(df['marital-status'] == 'Married-civ-spouse') | (df['marital-status'] == 'Married-spouse-absent') | (df['marital-status'] == 'Married-AF-spouse')][df['salary'] == '>50K']['age'].count()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

6736

In [64]:
df[(df['marital-status'] != 'Married-civ-spouse') & (df['marital-status'] != 'Married-spouse-absent') & (df['marital-status'] != 'Married-AF-spouse')][df['salary'] == '>50K']['age'].count()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

1105

In [65]:
1105/17144

0.0644540363975735

In [66]:
6736/15417

0.43692028280469614

In [68]:
df['hours-per-week'].max()

99

In [71]:
df[df['hours-per-week'] == 99].count()

age               85
workclass         85
fnlwgt            85
education         85
education-num     85
marital-status    85
occupation        85
relationship      85
race              85
sex               85
capital-gain      85
capital-loss      85
hours-per-week    85
native-country    85
salary            85
dtype: int64

In [72]:
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [79]:
df[(df['native-country'] == 'Japan') & (df['salary'] == '<=50K')]['hours-per-week'].mean()

41.0

In [80]:
df[(df['native-country'] == 'Japan') & (df['salary'] == '>50K')]['hours-per-week'].mean()

47.958333333333336